package routes

import (
	"{{.Module}}/api"
	"github.com/gin-gonic/gin"
)

func InitRoutes(r *gin.Engine) {
	v1 := r.Group("/api/v1")
	{
		v1.GET("/health", func(c *gin.Context) {
			api.Success(c, nil)
		})
	}
}
